panelPadding = 10px
panelWidth = 300px

h1Color = #4886ff

.gifics-panel
    position fixed
    left -1 * panelWidth
    height 100%
    width 300px
    background-color white
    z-index 200000000
    box-shadow 0 0 10px 0 #000

h1
    font-size 24px
    color h1Color
