panelPadding = 15px
panelWidth = 300px

btnColor = #a0c0f0
btnHighlighColor = #a6c8f6
shadeDefault = #fff
shadeHighlight = #f6f6f6

// Yellow
yellowBkgColor = #fe7
yellowTextColor = #663

.gifics-panel
    position fixed
    left -1 * panelWidth
    height 100%
    width 300px
    background-color yellowBkgColor
    color yellowTextColor
    z-index 200000000
    box-shadow 0 0 10px 0 #000
    font-family 'Raleway-Regular', sans-serif
    overflow-y auto
    text-align left
    letter-spacing 0

    h1, h2, h3
        font-family 'Raleway-Bold', sans-serif

    &>h1, &>h2, &>p
        padding panelPadding
        margin 0

    &>h1
        font-size 36px

    &>h2
        font-size 28px

    li
        display block
        margin 0 
        padding panelPadding
        background-color yellowBkgColor
        border-bottom 2px solid yellowTextColor

        p
            margin 0
            padding 0 0 0 0

    .gifics-groups, .gifics-pages
        li:hover
            background-color yellowTextColor
            color yellowBkgColor

    ul
        width 100%
        margin 0
        padding 0

    .gifics-groups h2 
        margin 0

    .gifics-pages, .gifics-comments
        h2, h3
            margin 0
        h3
            font-weight normal
            font-size 12px
            font-style italic
            opacity 0.8
        .gifics-body
            margin-top 5px
        
    .gifics-pages
        .gifics-body, .gifics-date
            padding-left panelPadding

    .gifics-comments
        overflow-y auto

    .gifics-btn
        display inline-block
        background-color yellowTextColor
        color yellowBkgColor
        text-decoration none
        font-size 20px
        font-weight bold
        text-align center
        margin panelPadding 0 panelPadding panelPadding
        padding panelPadding
        border 2px solid yellowTextColor

        &:hover
            text-decoration none
            background-color yellowBkgColor
            color yellowTextColor

.gifics-canvas
    width 100%
    height 100%
    position fixed
    left 0
    top 0
    z-index 200000000

.gifics-doodle
    position absolute
    z-index 199999999
